CompileFlags:
  Add: [-std=c++20, -I../bigint/include, -I../CMakeLists.txt/include, -I../complog/include,
        -I../lexer/include, -I../locators/include, -I../main/include, -I../runtime/include,
        -I../semantics/include, -I../syntax/include, -Iinclude, -Wall, -Wextra]
