CompileFlags:
  Add: [-std=c++20, -I../include, -I../../syntax/include, -I../../lexer/include, -I../../complog/include,
        -I../../bigint/include, -I../../locators/include, -I../../runtime/include]
