CompileFlags:
  Add: [-I../bigint/include, -I../compilation_log/include, -I../locators/include, -I../lexer, -I../syntax/include,
        -I../runtime_objects/include, -I../semantics/include, -std=c++20]
