CompileFlags:
  Add: [-std=c++20, -I../../../bigint/include, -I../../../complog/include, -I../../../lexer/include, -I../../../locators/include,
        -I../../../main/include, -I../../../runtime/include, -I../../../semantic/include, -I../../../syntax/include]
